<style>
	span {
		float: left;
		margin-right: 10px;
	}

</style>


<script src="/static/js/jquery-1.6.1.min.js"></script>


<% for(i=0;i < files.length;i++){ 
    console.log(files[i]);
    console.log(process.cwd());
	var filePath = files[i].sources[0].service+"/thumbs/" + files[i].sources[0].id + ".jpg";
	var originalPath = files[i].sources[0].service+"/originals/" + files[i].sources[0].id + ".jpg";
	
	
		var findKey = function(){
	    return shared.filter(function(element, index, array){
            //console.log("ELEMENT ID: "+element);
            return element == files[i].id
        });
    }

%>
	<span>
	<a href="<%= originalPath %>" target="_blank"><img src="<%= filePath %>" ></a>
	<p>Share image? <input type="checkbox" class="check" id="<%= files[i].id %>"
	<% if(findKey().length > 0){ %> checked="checked" <% } %> > 

    
    
</p>
	</span>

<% } %>



<script>


	var shared;
	$(".check").click(function(){
		console.log('clicked');
		var id = $(this).attr("id");
		
		if($(this).attr('checked')){
			console.log(id + " checked");
			shared = true;
		} else {
			console.log(id + " not checked");
			shared = undefined;
		}
		$.post("/Me/picshare", {shared: shared, id: id});
	});


</script>
